@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Aldrich', sans-serif;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
:root{
    --main-color:#ef4343;
    --main-color-hover:#ec6262;
    --main-color-dark:#BD3535;
    --main-color-dark-disabled:hsla(0, 56%, 32%, 0.6);
    --main-color-disabled:hsla(0, 56%, 32%, 0.4);
    --secondary-color:#2BA4F0;
    --secondary-color-hover:#60b5eb;
    --secondary-color-dark:#2281BD;
    --secondary-color-dark-disabled:hsla(203, 87%, 55%, 0.4);
    --secondary-color-disabled:hsla(203, 87%, 55%, 0.2);
    --terciary-color:hsla(0, 0%, 100%, 0.2);
    --input-bg:#383737;
    --bg:rgba(0, 0, 0, 0.7);
    --bg-dark:rgba(0, 0, 0, 0.8);
}

